JIRA_BASE_URL=https://yourorg.atlassian.net
JIRA_EMAIL=you@example.com
JIRA_API_TOKEN=your-api-token

SLACK_TOKEN=xoxp-your-token

GITLAB_BASE_URL=https://gitlab.4players.de
GITLAB_TOKEN=your-gitlab-pat

DB_HOSTNAME=_
DB_USERNAME=_
DB_PASSWORD=_
DB_DATABASE=_